.kaufman__triangel {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 5;
  background-image: url(../../../../images/triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
