.footer__column-link {
  opacity: 1;
  transition: opacity .6s ease-in-out;
  /* для шрифта */
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}
.footer__column-link:hover {
  opacity: .7;
}

